.elementor-24 .elementor-element.elementor-element-45115af {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --align-items: center;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-24 .elementor-element.elementor-element-45115af:not(.elementor-motion-effects-element-type-background),
.elementor-24 .elementor-element.elementor-element-45115af>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FCFBF9;
}

.elementor-24 .elementor-element.elementor-element-68496b7 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --padding-top: 5px;
    --padding-bottom: 5px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-24 .elementor-element.elementor-element-5d4a714 {
    margin: 0px 0px calc(var(--kit-widget-spacing, 0px) + 0px) -6px;
    text-align: start;
}

.elementor-24 .elementor-element.elementor-element-5d4a714 img {
    width: 100%;
    max-width: 32%;
}

.elementor-24 .elementor-element.elementor-element-3bfcc21 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
}

.elementor-24 .elementor-element.elementor-element-d1f3ffb .elementor-menu-toggle {
    margin-left: auto;
    background-color: var( --e-global-color-5720c4c);
}

.elementor-24 .elementor-element.elementor-element-d1f3ffb .elementor-nav-menu--main .elementor-item:hover,
.elementor-24 .elementor-element.elementor-element-d1f3ffb .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-24 .elementor-element.elementor-element-d1f3ffb .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-24 .elementor-element.elementor-element-d1f3ffb .elementor-nav-menu--main .elementor-item:focus {
    color: var( --e-global-color-5720c4c);
    fill: var( --e-global-color-5720c4c);
}

.elementor-24 .elementor-element.elementor-element-d1f3ffb .elementor-nav-menu--main .elementor-item.elementor-item-active {
    color: var( --e-global-color-5720c4c);
}

.elementor-24 .elementor-element.elementor-element-d1f3ffb div.elementor-menu-toggle {
    color: var( --e-global-color-secondary);
}

.elementor-24 .elementor-element.elementor-element-d1f3ffb div.elementor-menu-toggle svg {
    fill: var( --e-global-color-secondary);
}

.elementor-24 .elementor-element.elementor-element-d4835a4 .elementor-menu-toggle {
    margin-left: auto;
    background-color: var( --e-global-color-5720c4c);
}

.elementor-24 .elementor-element.elementor-element-d4835a4 .elementor-nav-menu--main .elementor-item:hover,
.elementor-24 .elementor-element.elementor-element-d4835a4 .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-24 .elementor-element.elementor-element-d4835a4 .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-24 .elementor-element.elementor-element-d4835a4 .elementor-nav-menu--main .elementor-item:focus {
    color: var( --e-global-color-5720c4c);
    fill: var( --e-global-color-5720c4c);
}

.elementor-24 .elementor-element.elementor-element-d4835a4 .elementor-nav-menu--main .elementor-item.elementor-item-active {
    color: var( --e-global-color-5720c4c);
}

.elementor-24 .elementor-element.elementor-element-d4835a4 div.elementor-menu-toggle {
    color: var( --e-global-color-secondary);
}

.elementor-24 .elementor-element.elementor-element-d4835a4 div.elementor-menu-toggle svg {
    fill: var( --e-global-color-secondary);
}

.elementor-24 .elementor-element.elementor-element-995dc57 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: flex-end;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-24 .elementor-element.elementor-element-19c8b5e .jeg-elementor-kit.jkit-button .jkit-button-wrapper {
    background-color: #0F172A;
    padding: 7px 25px 5px 10px;
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-size: var( --e-global-typography-text-font-size);
    font-weight: var( --e-global-typography-text-font-weight);
    text-transform: var( --e-global-typography-text-text-transform);
    line-height: var( --e-global-typography-text-line-height);
    color: var( --e-global-color-076b94f);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var( --e-global-color-primary);
    border-radius: 50px 50px 50px 50px;
}

.elementor-24 .elementor-element.elementor-element-19c8b5e .jeg-elementor-kit.jkit-button .jkit-button-wrapper:not(.hover-gradient):hover,
.elementor-24 .elementor-element.elementor-element-19c8b5e .jeg-elementor-kit.jkit-button .jkit-button-wrapper.hover-gradient:before {
    background-color: var( --e-global-color-5720c4c);
}

.elementor-24 .elementor-element.elementor-element-19c8b5e .jeg-elementor-kit.jkit-button .jkit-button-wrapper>i,
.elementor-24 .elementor-element.elementor-element-19c8b5e .jeg-elementor-kit.jkit-button .jkit-button-wrapper>svg {
    background-color: var( --e-global-color-5720c4c);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var( --e-global-color-75e8b96);
    border-radius: 50px 50px 50px 50px;
}

.elementor-24 .elementor-element.elementor-element-19c8b5e .jeg-elementor-kit.jkit-button .jkit-button-wrapper:hover>i,
.elementor-24 .elementor-element.elementor-element-19c8b5e .jeg-elementor-kit.jkit-button .jkit-button-wrapper:hover>svg {
    background-color: var( --e-global-color-secondary);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var( --e-global-color-secondary);
    border-radius: 50px 50px 50px 50px;
}

.elementor-24 .elementor-element.elementor-element-19c8b5e.elementor-element {
    --align-self: flex-start;
}

.elementor-24 .elementor-element.elementor-element-19c8b5e .jeg-elementor-kit.jkit-button {
    text-align: center;
}

.elementor-24 .elementor-element.elementor-element-19c8b5e .jeg-elementor-kit.jkit-button .jkit-button-wrapper svg {
    fill: var( --e-global-color-076b94f);
    width: 38px;
}

.elementor-24 .elementor-element.elementor-element-19c8b5e .jeg-elementor-kit.jkit-button .jkit-button-wrapper:hover {
    color: var( --e-global-color-secondary);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var( --e-global-color-5720c4c);
    border-radius: 50px 50px 50px 50px;
}

.elementor-24 .elementor-element.elementor-element-19c8b5e .jeg-elementor-kit.jkit-button .jkit-button-wrapper:hover svg {
    fill: var( --e-global-color-5720c4c);
}

.elementor-24 .elementor-element.elementor-element-19c8b5e .jeg-elementor-kit.jkit-button .jkit-button-wrapper i,
.elementor-24 .elementor-element.elementor-element-19c8b5e .jeg-elementor-kit.jkit-button .jkit-button-wrapper svg {
    padding: 8px 8px 8px 8px;
}

.elementor-24 .elementor-element.elementor-element-19c8b5e .jeg-elementor-kit.jkit-button .jkit-button-wrapper i {
    font-size: 38px;
}

.elementor-24 .elementor-element.elementor-element-19c8b5e .jeg-elementor-kit.jkit-button.icon-position-before .jkit-button-wrapper i,
.elementor-24 .elementor-element.elementor-element-19c8b5e .jeg-elementor-kit.jkit-button.icon-position-before .jkit-button-wrapper svg {
    margin-right: 10px;
}

.elementor-24 .elementor-element.elementor-element-19c8b5e .jeg-elementor-kit.jkit-button.icon-position-after .jkit-button-wrapper i,
.elementor-24 .elementor-element.elementor-element-19c8b5e .jeg-elementor-kit.jkit-button.icon-position-after .jkit-button-wrapper svg {
    margin-left: 10px;
}

.elementor-24 .elementor-element.elementor-element-19c8b5e .jeg-elementor-kit.jkit-button .jkit-button-wrapper:not(:hover)>i {
    color: var( --e-global-color-secondary);
}

.elementor-24 .elementor-element.elementor-element-19c8b5e .jeg-elementor-kit.jkit-button .jkit-button-wrapper:not(:hover)>svg {
    fill: var( --e-global-color-secondary);
}

.elementor-24 .elementor-element.elementor-element-19c8b5e .jeg-elementor-kit.jkit-button .jkit-button-wrapper:hover i {
    color: var( --e-global-color-5720c4c);
}

.elementor-24 .elementor-element.elementor-element-9e94211 .jeg-elementor-kit.jkit-button .jkit-button-wrapper {
    background-color: var( --e-global-color-5720c4c);
    padding: 8px 10px 8px 25px;
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-size: var( --e-global-typography-text-font-size);
    font-weight: var( --e-global-typography-text-font-weight);
    text-transform: var( --e-global-typography-text-text-transform);
    line-height: var( --e-global-typography-text-line-height);
    color: var( --e-global-color-secondary);
    border-style: none;
    border-radius: 50px 50px 50px 50px;
}

.elementor-24 .elementor-element.elementor-element-9e94211 .jeg-elementor-kit.jkit-button .jkit-button-wrapper:not(.hover-gradient):hover,
.elementor-24 .elementor-element.elementor-element-9e94211 .jeg-elementor-kit.jkit-button .jkit-button-wrapper.hover-gradient:before {
    background-color: var( --e-global-color-primary);
}

.elementor-24 .elementor-element.elementor-element-9e94211 .jeg-elementor-kit.jkit-button .jkit-button-wrapper>i,
.elementor-24 .elementor-element.elementor-element-9e94211 .jeg-elementor-kit.jkit-button .jkit-button-wrapper>svg {
    background-color: var( --e-global-color-secondary);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var( --e-global-color-75e8b96);
    border-radius: 50px 50px 50px 50px;
}

.elementor-24 .elementor-element.elementor-element-9e94211 .jeg-elementor-kit.jkit-button .jkit-button-wrapper:hover>i,
.elementor-24 .elementor-element.elementor-element-9e94211 .jeg-elementor-kit.jkit-button .jkit-button-wrapper:hover>svg {
    background-color: #FF671E;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var( --e-global-color-accent);
    border-radius: 50px 50px 50px 50px;
}

.elementor-24 .elementor-element.elementor-element-9e94211.elementor-element {
    --align-self: flex-start;
}

.elementor-24 .elementor-element.elementor-element-9e94211 .jeg-elementor-kit.jkit-button {
    text-align: center;
}

.elementor-24 .elementor-element.elementor-element-9e94211 .jeg-elementor-kit.jkit-button .jkit-button-wrapper svg {
    fill: var( --e-global-color-secondary);
    width: 16px;
}

.elementor-24 .elementor-element.elementor-element-9e94211 .jeg-elementor-kit.jkit-button .jkit-button-wrapper:hover {
    color: var( --e-global-color-secondary);
    border-style: none;
    border-radius: 50px 50px 50px 50px;
}

.elementor-24 .elementor-element.elementor-element-9e94211 .jeg-elementor-kit.jkit-button .jkit-button-wrapper:hover svg {
    fill: var( --e-global-color-secondary);
}

.elementor-24 .elementor-element.elementor-element-9e94211 .jeg-elementor-kit.jkit-button .jkit-button-wrapper i,
.elementor-24 .elementor-element.elementor-element-9e94211 .jeg-elementor-kit.jkit-button .jkit-button-wrapper svg {
    padding: 8px 8px 8px 8px;
}

.elementor-24 .elementor-element.elementor-element-9e94211 .jeg-elementor-kit.jkit-button .jkit-button-wrapper i {
    font-size: 16px;
}

.elementor-24 .elementor-element.elementor-element-9e94211 .jeg-elementor-kit.jkit-button.icon-position-before .jkit-button-wrapper i,
.elementor-24 .elementor-element.elementor-element-9e94211 .jeg-elementor-kit.jkit-button.icon-position-before .jkit-button-wrapper svg {
    margin-right: 10px;
}

.elementor-24 .elementor-element.elementor-element-9e94211 .jeg-elementor-kit.jkit-button.icon-position-after .jkit-button-wrapper i,
.elementor-24 .elementor-element.elementor-element-9e94211 .jeg-elementor-kit.jkit-button.icon-position-after .jkit-button-wrapper svg {
    margin-left: 10px;
}

.elementor-24 .elementor-element.elementor-element-9e94211 .jeg-elementor-kit.jkit-button .jkit-button-wrapper:not(:hover)>i {
    color: var( --e-global-color-accent);
}

.elementor-24 .elementor-element.elementor-element-9e94211 .jeg-elementor-kit.jkit-button .jkit-button-wrapper:not(:hover)>svg {
    fill: var( --e-global-color-accent);
}

.elementor-24 .elementor-element.elementor-element-9e94211 .jeg-elementor-kit.jkit-button .jkit-button-wrapper:hover i {
    color: var( --e-global-color-secondary);
}

.elementor-24 .elementor-element.elementor-element-7f30dc4 .elementor-menu-toggle {
    margin-left: auto;
    background-color: var( --e-global-color-5720c4c);
}

.elementor-24 .elementor-element.elementor-element-7f30dc4 div.elementor-menu-toggle {
    color: var( --e-global-color-secondary);
}

.elementor-24 .elementor-element.elementor-element-7f30dc4 div.elementor-menu-toggle svg {
    fill: var( --e-global-color-secondary);
}

.elementor-theme-builder-content-area {
    height: 400px;
}

.elementor-location-header:before,
.elementor-location-footer:before {
    content: "";
    display: table;
    clear: both;
}

@media(max-width:1024px) {
    .elementor-24 .elementor-element.elementor-element-45115af {
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 20px;
        --padding-right: 20px;
    }
    .elementor-24 .elementor-element.elementor-element-5d4a714 img {
        max-width: 35%;
    }
    .elementor-24 .elementor-element.elementor-element-3bfcc21 {
        --justify-content: center;
    }
    .elementor-24 .elementor-element.elementor-element-d1f3ffb .elementor-nav-menu--main>.elementor-nav-menu>li>.elementor-nav-menu--dropdown,
    .elementor-24 .elementor-element.elementor-element-d1f3ffb .elementor-nav-menu__container.elementor-nav-menu--dropdown {
        margin-top: 20px !important;
    }
    .elementor-24 .elementor-element.elementor-element-d1f3ffb {
        --nav-menu-icon-size: 28px;
    }
    .elementor-24 .elementor-element.elementor-element-d4835a4 .elementor-nav-menu--main>.elementor-nav-menu>li>.elementor-nav-menu--dropdown,
    .elementor-24 .elementor-element.elementor-element-d4835a4 .elementor-nav-menu__container.elementor-nav-menu--dropdown {
        margin-top: 20px !important;
    }
    .elementor-24 .elementor-element.elementor-element-d4835a4 {
        --nav-menu-icon-size: 28px;
    }
    .elementor-24 .elementor-element.elementor-element-995dc57 {
        --justify-content: flex-end;
        --align-items: center;
        --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    }
    .elementor-24 .elementor-element.elementor-element-19c8b5e.elementor-element {
        --align-self: flex-end;
    }
    .elementor-24 .elementor-element.elementor-element-19c8b5e .jeg-elementor-kit.jkit-button .jkit-button-wrapper {
        font-size: var( --e-global-typography-text-font-size);
        line-height: var( --e-global-typography-text-line-height);
    }
    .elementor-24 .elementor-element.elementor-element-9e94211.elementor-element {
        --align-self: flex-end;
    }
    .elementor-24 .elementor-element.elementor-element-9e94211 .jeg-elementor-kit.jkit-button .jkit-button-wrapper {
        font-size: var( --e-global-typography-text-font-size);
        line-height: var( --e-global-typography-text-line-height);
    }
    .elementor-24 .elementor-element.elementor-element-7f30dc4 .elementor-nav-menu--main>.elementor-nav-menu>li>.elementor-nav-menu--dropdown,
    .elementor-24 .elementor-element.elementor-element-7f30dc4 .elementor-nav-menu__container.elementor-nav-menu--dropdown {
        margin-top: 20px !important;
    }
    .elementor-24 .elementor-element.elementor-element-7f30dc4 {
        --nav-menu-icon-size: 28px;
    }
}

@media(max-width:767px) {
    .elementor-24 .elementor-element.elementor-element-45115af {
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 10px;
        --padding-right: 10px;
    }
    .elementor-24 .elementor-element.elementor-element-68496b7 {
        --width: 70%;
    }
    .elementor-24 .elementor-element.elementor-element-3bfcc21 {
        --width: 30%;
        --align-items: flex-end;
        --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    }
    .elementor-24 .elementor-element.elementor-element-19c8b5e .jeg-elementor-kit.jkit-button .jkit-button-wrapper {
        font-size: var( --e-global-typography-text-font-size);
        line-height: var( --e-global-typography-text-line-height);
    }
    .elementor-24 .elementor-element.elementor-element-9e94211 .jeg-elementor-kit.jkit-button .jkit-button-wrapper {
        font-size: var( --e-global-typography-text-font-size);
        line-height: var( --e-global-typography-text-line-height);
    }
}

@media(min-width:768px) {
    .elementor-24 .elementor-element.elementor-element-68496b7 {
        --width: 22%;
    }
    .elementor-24 .elementor-element.elementor-element-3bfcc21 {
        --width: 50%;
    }
    .elementor-24 .elementor-element.elementor-element-995dc57 {
        --width: 28%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-24 .elementor-element.elementor-element-68496b7 {
        --width: 30%;
    }
    .elementor-24 .elementor-element.elementor-element-3bfcc21 {
        --width: 20%;
    }
    .elementor-24 .elementor-element.elementor-element-995dc57 {
        --width: 70%;
    }
}